/*Poppins Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Pastikan untuk cek detail ukuran, warna, dkk dengan desain di Figma */
/* Class-classnya udah general dan tinggal dipakai di elemen dengan ketentuan yang sama */
/* Class dikategorikan sesuai dengan elemennya  */
/* e.g. General, Texts, Links, Jumbotron, dkk */

/* Tinggal include file ini aja ke file html yang dibuat */
/* NB : Jangan nimpa class yang ada */
     /* TERMASUK CLASS BAWAAN BOOTSTRAP  */
     /* (semisal mau konfigurasi manual, bikin class baru) */

/* General */
*
{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;

    /* Poppins Regular (Default) */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;   
}

html 
{
    scroll-behavior: smooth;
}

body
{
    width: 100%;
    background-color: #000000;
}


/* Hide Scrollbar */
:root::-webkit-scrollbar{
    display: none;
}
  
:root {
scrollbar-width: none;
-ms-overflow-style: none;
}


/* Fonts */
.poppins-thin
{
    font-weight: 100;
    font-style: normal;
}

.poppins-medium
{
    font-weight: 500;
    font-style: normal;
}

.poppins-semi-bold
{
    font-weight: 600;
    font-style: normal;
}

.poppins-bold
{
    font-weight: 700;
    font-style: normal;
}

.poppins-italic
{
  font-weight: 400;
  font-style: italic;
}


/* Background */
.bg-black
{
    background-color: #000000;
}

.bg-black-sub
{
    background-color: #100f0f;
}


/* Link */
.link-white
{
    color: #ffffff;
}

.link-white:hover
{
    color: #F0B700;
}

.button-link
{
    color: #ffffff;
}

.button-link:hover
{
    color: #ffffff;
}


/* Texts */
.film-text
{
    font-size: 4vh;
}

.film-title
{
    font-size: 12vh;
}

.film-detail
{
    font-size: 2.6vh;
}

.film-section
{
    font-size: 3.5vh;
}

.film-section-detail
{
    font-size: 2.6vh;
}

.play-button-text
{
    font-size: 20px;
}

.about-text
{
    font-size: 22px;
}

.about-detail
{
    font-size: 18px;
}

.card-title
{
    font-size: 22px;
}

.card-text
{
    font-size: 18px;
}

.text-yellow
{
    color: #F0B700;
}


/* Navbar */
.navbar-link-container
{
    width: 50%;
}

.film-link
{
    font-size: 3vh;
}

.logo
{
    height: 10vh;
    width: 35vh;
    /* border-radius: 50%; */
    background-image: url("../assets/1.png");
    background-position: center;
    background-size: cover;
}


/* Jumbotron */
.jumbotron-container
{
    height: 92vh;
}

.cover
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(50%);
}

.cover > img
{
    width: 100%;
    height: 100%;
    filter:brightness(50%)
}

#film-cover
{
    background-image: url("/assets/cover_without_text.png");
}

#bts-cover
{
    background-image: url("/assets/cover_other.png");
}

/* Button */
.film-button
{
    object-fit: center;
    object-position: center center center;
    width: 10vw;
    height: 8vh;
}

.film-button > a
{
    padding: 0;
    margin: 0;
    font-size: 3vh;
}

/* Profile */
#profile-img-ana
{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-image: url("../assets/profile/ana.png");
    background-position: center;
    background-size: cover;
}

#profile-img-eric
{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-image: url("../assets/profile/eric.png");
    background-position: center;
    background-size: cover;
}

/* Teknis */
.teknis-img
{
    height: 40vh;
}

.teknis-img > img
{
    height: 100%;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(228, 228, 228, 0.3);
    transition: .5s;
    color: #000000;
}
  
.card:hover {
    background: var(--white);
    transform: scale(1.1);
}      
  


@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }

    .card-title
    {
        font-size: 3vh;
    }

    .card-text
    {
        font-size: 2.5vh;
    }

    .film-text
    {
        font-size: 3.5vh;
    }

    .film-title
    {
        font-size: 11vh;
    }

    .film-detail
    {
        font-size: 2.3vh;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 4) - 20px);
        grid-column-gap: 30px;
    }
}
  
@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}