/*Poppins Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Pastikan untuk cek detail ukuran, warna, dkk dengan desain di Figma */
/* Class-classnya udah general dan tinggal dipakai di elemen dengan ketentuan yang sama */
/* Class dikategorikan sesuai dengan elemennya  */
/* e.g. General, Texts, Links, Jumbotron, dkk */

/* Tinggal include file ini aja ke file html yang dibuat */
/* NB : Jangan nimpa class yang ada */
     /* TERMASUK CLASS BAWAAN BOOTSTRAP  */
     /* (semisal mau konfigurasi manual, bikin class baru) */

/* General */
*
{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;

    /* Poppins Regular (Default) */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;   
}

html 
{
    scroll-behavior: smooth;
}

body
{
    width: 100%;
    background-color: #000000;
}


/* Hide Scrollbar */
:root::-webkit-scrollbar{
    display: none;
}
  
:root {
scrollbar-width: none;
-ms-overflow-style: none;
}


/* Fonts */
.poppins-medium
{
    font-weight: 500;
    font-style: normal;
}

.poppins-semi-bold
{
    font-weight: 600;
    font-style: normal;
}

.poppins-bold
{
    font-weight: 700;
    font-style: normal;
}

.poppins-italic
{
  font-weight: 400;
  font-style: italic;
}


/* Background */
.bg-black
{
    background-color: #000000;
}

.bg-black-sub
{
    background-color: #100f0f;
}


/* Link */
.link-white
{
    color: #ffffff;
}

.link-white:hover
{
    color: #F0B700;
}

.button-link
{
    color: #ffffff;
}

.button-link:hover
{
    color: #ffffff;
}


/* Texts */
.film-text
{
    font-size: 24px;
}

.film-title
{
    font-size: 64px;
}

.film-detail
{
    font-size: 18px;
}

.play-button-text
{
    font-size: 20px;
}

.card-title
{
    font-size: 22px;
}

.card-text
{
    font-size: 18px;
}


/* Navbar */
.navbar-link-container
{
    width: 50%;
}


/* Jumbotron */
.jumbotron-container
{
    height: 92vh;
}

.cover
{
    width: 100%;
    height: 100%;
}

.cover > img
{
    width: 100%;
    height: 100%;
    filter:brightness(50%)
}


/* Profile */
.profile-img
{
    height: 10vh;
}

.profile-img > img
{
    height: 100%;
    border-radius: 100%;
}


/* Teknis */
.teknis-img
{
    height: 40vh;
}

.teknis-img > img
{
    height: 100%;
}



.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    /* overflow-x: scroll; */
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    scroll-snap-type: x mandatory;
}

.card {
    scroll-snap-align: start;
    transition: all 0.2s;
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(228, 228, 228, 0.3);
    transition: .5s;
    color: #000000;
}
  
.card:hover {
    background: var(--white);
    transform: scale(1.1);
}      
  
.wrap-img
{
    height: 90%;
    margin: 10%;
}

.card-img-top
{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}
  
@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}